@inherits BaseCustomField<TValue>
@typeparam TValue
@typeparam TEnum

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.IsFull.OnWidescreen.Is4.OnFullHD">
        <Icon Name="@CssIcon"></Icon> @Label
        @if (!string.IsNullOrEmpty(AttributeHelper.GetDescription(For)))
        {
            <FieldHelp Style="color: #17a2b8 !important">@AttributeHelper.GetDescription(For)</FieldHelp>
        }
    </FieldLabel>

    <FieldBody ColumnSize="ColumnSize.IsFull.OnWidescreen.Is8.OnFullHD">
        @switch (Type)
        {
            case FieldType.Select:
                <div class="input-group">
                    <InputSelect TValue="TValue" Value="@SelectedValue" ValueChanged="@SetValue" ValueExpression="@For" @attributes="@GetAttributes(For, disabled: Disabled)">
                        @foreach (var item in EnumHelper.GetArray<TEnum>())
                        {
                            <option value="@item">@item.GetName()</option>
                        }
                    </InputSelect>
                    <span class="input-group-append">
                        <Button Color="Color.Primary" Outline="true" Disabled="@DisableHelp" Clicked="() => UpdateDataHelp(For, typeof(TEnum))">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Question"></Icon>
                        </Button>
                    </span>
                </div>

                break;

            case FieldType.SelectMultiple:
                <Addons>
                    <Addon AddonType="AddonType.Body">
                        <Select TValue="TEnum" SelectedValues="SelectedValues" SelectedValuesChanged="SetValues" Multiple="true">
                            @foreach (var item in EnumHelper.GetArray<TEnum>())
                            {
                                <SelectItem Value="@item">@item.GetName()</SelectItem>
                            }
                        </Select>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Color="Color.Primary" Outline="true" Disabled="@DisableHelp" Clicked="() => UpdateDataHelp(For, typeof(TEnum))">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Question"></Icon>
                        </Button>
                    </Addon>
                </Addons>

                break;

            default:
                break;
        }
        <ValidationMessage For="@For"></ValidationMessage>
    </FieldBody>
</Field>

<ProfileDataHelp TValue="TValue" @ref="dataHelp"></ProfileDataHelp>