@using VerusDate.Shared.Model;

@if (Type.Completed())
{
    <Button Type="ButtonType.Button" Color="Color.Success" Block="true" title="@Type.Description">
        <Icon Name="@Type.ClassIcon"></Icon> @Type.Title
        @if (Type.MaxLevel != 1)
        {
            <Badge Color="Color.Light" Pill="true" Margin="Margin.Is1.FromLeft">@Type.Level</Badge>
        }
    </Button>
}
else
{
    <Button Type="ButtonType.Button" Color="Color.Secondary" Block="true" title="@Type.Description">
        <Icon Name="@Type.ClassIcon"></Icon> @Type.Title
        @if (Type.MaxLevel != 1)
        {
            <Badge Color="Color.Light" Pill="true" Margin="Margin.Is1.FromLeft">@Type.Level</Badge>
        }
    </Button>
}

@code {
    [Parameter] public BadgeType Type { get; set; }
}