@inherits ComponenteCore<NewTicket>
@inject HttpClient Http

<Modal @ref="modal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>Novo Ticket</ModalTitle>
            <CloseButton Clicked="@modal.Hide" />
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@Ticket" OnValidSubmit="SubmitForm">
                <FluentValidationValidator />
                <div class="form-group">
                    <MemoEdit @bind-Text="@Ticket.Description" Rows="7" MaxLength="512" Placeholder="@AttributeHelper.GetPrompt(()=>Ticket.Description)"></MemoEdit>
                    <ValidationMessage For="@(()=>Ticket.Description)"></ValidationMessage>
                </div>
                <Button Type="ButtonType.Submit" Color="Color.Primary">Salvar</Button>
                <Button Clicked="@modal.Hide" Color="Color.Secondary">Cancelar</Button>
            </EditForm>
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    private Modal modal;
    private TicketType TicketType;

    public TicketModel Ticket { get; set; } = new();

    public void ShowModal(TicketType TicketType)
    {
        this.TicketType = TicketType;
        modal.Show();
    }

    public async Task SubmitForm()
    {
        try
        {
            Ticket.TicketType = TicketType;
            Ticket.TicketStatus = TicketStatus.Published;
            Ticket.SetIds(ComponenteUtils.IdUser);

            var response = await Http.Ticket_Insert(Ticket);

            await response.ProcessResponse(Toast, "Salvo com sucesso!");

            Ticket = new();
            modal.Hide();
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}