@inherits ComponenteCore<ProfileReport>

<Modal @ref="modal">
    <ModalBackdrop />
    <ModalContent Centered="true" Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Desfazer match e reportar</ModalTitle>
            <CloseButton Clicked="@modal.Hide" />
        </ModalHeader>
        <ModalBody MaxHeight="50">
            <RadioGroup TValue="int" Name="report" CheckedValue="@checkedValue" CheckedValueChanged="@OnCheckedValueChanged">
                @foreach (var item in EnumHelper.GetArray<ReportType>())
                {
                    <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is2.FromBottom">
                        <Radio TValue="int" Size="Size.Medium" Value="@((int)item)">@item.GetName()</Radio>
                        <FieldHelp>@item.GetDescription()</FieldHelp>
                    </Paragraph>
                }
            </RadioGroup>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@Confirmar">Confirmar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    private Modal modal;
    private int checkedValue = 1;

    public void ShowModal()
    {
        modal.Show();
    }

    void OnCheckedValueChanged(int value)
    {
        checkedValue = value;
    }

    private async Task Confirmar()
    {
        //report

        //delete match

        modal.Hide();
    }
}