@inherits ComponenteCore<ProfileReport>

<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>Denunciar Perfil</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody MaxHeight="50">
            <RadioGroup TValue="int" Name="report" CheckedValue="@checkedValue" CheckedValueChanged="@OnCheckedValueChanged">
                @{
                    string previousGroup = "";
                    @foreach (var item in EnumHelper.GetList<ReportType>())
                    {
                        if (!string.IsNullOrEmpty(@item.Group) && previousGroup != @item.Group)
                        {
                            <Alert Visible="true" Color="Color.Info" Padding="Padding.Is1" Margin="Margin.Is2.FromBottom.Is2.FromTop">
                                <AlertMessage>@item.Group.Split("|")[0]</AlertMessage>
                                <AlertDescription>@item.Group.Split("|")[1]</AlertDescription>
                            </Alert>
                        }
                        <Paragraph TextAlignment="TextAlignment.Justified" Margin="Margin.Is2.FromBottom">
                            <Radio TValue="int" Size="Size.Medium" Value="@item.Value">@item.Name</Radio>
                            <FieldHelp Style="display: inline;">@item.Description</FieldHelp>
                        </Paragraph>
                        previousGroup = @item.Group;
                    }
                }
            </RadioGroup>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Cancelar</Button>
            <Button Color="Color.Primary" Clicked="@Confirmar" Disabled="true">Confirmar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    private Modal modal;
    private int checkedValue = 1;

    public void ShowModal()
    {
        modal.Show();
    }

    void OnCheckedValueChanged(int value)
    {
        checkedValue = value;
    }

    private async Task Confirmar()
    {
        //report

        //delete match

        modal.Hide();
    }
}