@page "/Store"
@attribute [Authorize]
@inherits PageCore<Store.Index>
@inject HttpClient Http

<CardDeck Margin="Margin.Is3.FromBottom">
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                4
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt" Style="color: #dc3545;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">10</Badge>
            </Paragraph>
            <Button Color="Color.Success" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(1)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Ad"></Icon> Ver Propaganda
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                4
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">1</Badge>
            </Paragraph>
            <Button Color="Color.Success" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(2)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Ad"></Icon> Ver Propaganda
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                2
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt" Style="color: #dc3545;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">10</Badge>
            </Paragraph>
            <Button Color="Color.Success" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(3)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem"></Icon> 1 Diamante
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                1
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt" Style="color: #dc3545;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">20</Badge>
            </Paragraph>
            <Button Color="Color.Success" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(4)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem"></Icon> 2 Diamantes
            </Button>
        </CardBody>
    </Card>
</CardDeck>
<CardDeck Margin="Margin.Is3.FromBottom">
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                10
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">1</Badge>
            </Paragraph>
            <Button Color="Color.Danger" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(1)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt"></Icon> 10 Maças
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                10
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">2</Badge>
            </Paragraph>
            <Button Color="Color.Danger" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(2)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt"></Icon> 20 Maças
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                10
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">3</Badge>
            </Paragraph>
            <Button Color="Color.Danger" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(3)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt"></Icon> 30 Maças
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                10
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">4</Badge>
            </Paragraph>
            <Button Color="Color.Danger" Block="true" Size="Size.Small" Clicked="() => ExchangeFood(4)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt"></Icon> 40 Maças
            </Button>
        </CardBody>
    </Card>
</CardDeck>
<CardDeck Margin="Margin.Is3.FromBottom">
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                Ilimitado
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">10</Badge>
            </Paragraph>
            <Button Color="Color.Primary" Block="true" Size="Size.Small" Clicked="() => BuyDiamond(10)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.CreditCard"></Icon> R$ 0.00
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                Ilimitado
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">20</Badge>
            </Paragraph>
            <Button Color="Color.Primary" Block="true" Size="Size.Small" Clicked="() => BuyDiamond(20)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.CreditCard"></Icon> R$ 0.00
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                Ilimitado
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">50</Badge>
            </Paragraph>
            <Button Color="Color.Primary" Block="true" Size="Size.Small" Clicked="() => BuyDiamond(50)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.CreditCard"></Icon> R$ 0.00
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardHeader Padding="Padding.Is1.FromBottom.Is1.FromTop">
            Restantes
            <Text Display="Display.InlineBlock" Float="Float.Right">
                Ilimitado
            </Text>
        </CardHeader>
        <CardBody Padding="Padding.Is2">
            <Paragraph Alignment="TextAlignment.Center">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem" Style="color: #5c7cfa;" Class="fa-3x"></Icon>
                <Badge Color="Color.Secondary">100</Badge>
            </Paragraph>
            <Button Color="Color.Primary" Block="true" Size="Size.Small" Clicked="() => BuyDiamond(100)" Disabled="true">
                <Icon Name="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.CreditCard"></Icon> R$ 0.00
            </Button>
        </CardBody>
    </Card>
</CardDeck>

@code {
    protected override async Task LoadData()
    {
        //ignore
    }

    private async Task BuyDiamond(int qtd)
    {
        try
        {
            var result = await Http.Gamification_AddDiamond(LocalStorage, qtd);

            await result.ProcessResponse(Toast, "Compra realizada com sucesso!");

            RefreshCore.RefreshHead();
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task ExchangeFood(int qtdDiamond)
    {
        try
        {
            var result = await Http.Gamification_ExchangeFood(LocalStorage, qtdDiamond);

            await result.ProcessResponse(Toast, "Troca realizada com sucesso!");

            RefreshCore.RefreshHead();
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}