@page "/"
@inherits PageCore<Index>
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <Card Margin="Margin.Is3.FromBottom">
                    <CardHeader>
                        Destaques da Semana - Localização (São Paulo)
                    </CardHeader>
                    <CardBody>
                        <Row>
                            @foreach (var item in lstDestaques)
                            {
                                <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnWidescreen.Is3.OnDesktop.Is4.OnMobile">
                                    <Card Margin="Margin.Is3.FromBottom.OnMobile.Is0.OnFullHD">
                                        <CardImage Source="@item.Photo.GetMainPhoto()" Alt="Photo Image"></CardImage>
                                        <Badge Color="Color.Light" Style="font-size: 11px;">@item.NickName</Badge>
                                        <Badge Color="Color.Light" Style="font-size: 9px; position: absolute; top: 5px; left: 5px;">@ProfileSeed.GetNumber(100, 500) XP</Badge>
                                    </Card>
                                </Column>
                            }
                        </Row>
                    </CardBody>
                </Card>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <Row>
                    <Column ColumnSize="ColumnSize.Is6">
                        <Card Margin="Margin.Is3.FromBottom">
                            <CardHeader Style="background-color: #D4AF37; color: #fff !important;">
                                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Crown"></Icon>
                                Ranking - @gamification?.Ranking (@gamification?.XP%)
                            </CardHeader>
                            <CardBody>
                                XXX
                            </CardBody>
                        </Card>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6">
                        <Card Margin="Margin.Is3.FromBottom">
                            <CardHeader Style="background-color: #5c7cfa; color: #fff !important;">
                                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Gem"></Icon>
                                Diamante - @gamification?.Diamond
                            </CardHeader>
                            <CardBody>
                                XXX
                            </CardBody>
                        </Card>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6">
                        <Card Margin="Margin.Is3.FromBottom">
                            <CardHeader Style="background-color: #dc3545; color: #fff !important;">
                                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.AppleAlt"></Icon>
                                Maça - @gamification?.Food/@GamificationApi.GetMaxFood(gamification)
                            </CardHeader>
                            <CardBody>
                                XXX
                            </CardBody>
                        </Card>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6">
                        <Card Margin="Margin.Is3.FromBottom">
                            <CardHeader Class="bg-info" Style="color: #fff !important;">
                                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ThumbsUp"></Icon>
                                Popularidade - 75%
                            </CardHeader>
                            <CardBody>
                                XXX
                            </CardBody>
                        </Card>
                    </Column>
                </Row>
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
            </Column>
        </Row>
    </Authorized>
    <NotAuthorized>
        <Jumbotron Background="Background.Primary" Margin="Margin.Is3.FromBottom" Padding="Padding.Is3.FromBottom.Is3.FromTop">
            <JumbotronTitle Size="JumbotronTitleSize.Is4">Bem vindo ao Verus Date!</JumbotronTitle>
            <JumbotronSubtitle>
                Está é uma versão MVP (Minimum viable product). Algum dos recursos existentes servem apenas de demonstração de funcionalidade.
            </JumbotronSubtitle>
        </Jumbotron>
        <Row>
            <Column ColumnSize="ColumnSize.Is12.Is6.OnWidescreen">
                <Card>
                    <CardHeader>
                        <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bullhorn"></Icon> Nossas Premissas
                    </CardHeader>
                    <CardBody Padding="Padding.Is3">
                        <Alert Color="Color.Info" Visible="true" Padding="Padding.Is3">
                            <Heading Size="HeadingSize.Is5" Color="TextColor.Success">
                                Perfis Verdadeiros
                            </Heading>
                            <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0.FromBottom">
                                Nós garantimos não existir perfis falsos ou inativos
                            </Paragraph>
                        </Alert>
                        <Alert Color="Color.Info" Visible="true" Padding="Padding.Is3">
                            <Heading Size="HeadingSize.Is5" Color="TextColor.Success">
                                Gamificação
                            </Heading>
                            <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0.FromBottom">
                                Todos os nossos recursos são baseados em elementos dos jogos para deixar tudo mais divertido
                            </Paragraph>
                        </Alert>
                        <Alert Color="Color.Info" Visible="true" Padding="Padding.Is3" Margin="Margin.Is0.FromBottom">
                            <Heading Size="HeadingSize.Is5" Color="TextColor.Success">
                                Livre de Preconceitos
                            </Heading>
                            <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0.FromBottom">
                                Independente da sua intenção, gênero, orientação sexual, raça, idade etc, nós temos um sistema de cruzamento de perfis completo e inteligente para você pode achar o que esteja procurando
                            </Paragraph>
                        </Alert>
                    </CardBody>
                </Card>
            </Column>
        </Row>
    </NotAuthorized>
</AuthorizeView>

@*<div class="row">
        <div class="col-lg-3 col-6">
            <div class="widget style1" style="background-color: #D4AF37; color: #fff!important;">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-crown fa-4x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Nível (XP) </span>
                        <h3 class="font-bold" style="font-size: 23px;">@gamification?.Rank (@gamification?.XP%)</h3>
                    </div>
                </div>
            </div>
            <div class="ibox" style="margin-bottom: 10px;">
                <div class="ibox-title">
                    <h5>Como ganhar XP</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary">+ 30</span> Completar cada item da lista de pendências
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="este recurso só é liberado depois de um encontro físico"></i>
                            </span>
                            <span class="label label-primary">+ 30</span> Comentar sobre a pessoa no perfil dela
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">+ 10</span> Conversar com a mesma pessoa por 3 dias consecutivos
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="respondendo sim ou não"></i>
                            </span>
                            <span class="label label-primary">+ 05</span> Responder a uma piscadinha
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Como perder XP</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="caso não tenha dado deslike"></i>
                            </span>
                            <span class="label label-danger">- 10</span> Ignorar uma pessoa por mais de 3 dias
                        </li>
                        <li class="list-group-item">
                            <span class="label label-danger">- 50</span> Receber denúncia (confirmada) de ter uma informação não verídica no perfil
                        </li>
                        <li class="list-group-item">
                            <span class="label label-danger">- 01</span> Repetir mensagens enviadas (copiar e colar)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="widget style1" style="background-color: #5c7cfa; color: #fff!important;">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-gem fa-4x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Diamante </span>
                        <h2 class="font-bold" style="font-size: 23px;">@gamification?.Diamond</h2>
                    </div>
                </div>
            </div>
            <div class="ibox" style="margin-bottom: 10px;">
                <div class="ibox-title">
                    <h5>Como ganhar Diamante</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="A quantidade pode variar para cada nível"></i>
                            </span>
                            <span class="label label-primary">+ 05</span> A cada 24h na conta premium
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="que tenha resolvido pelo menos 6 itens da lista de pendências"></i>
                            </span>
                            <span class="label label-primary">+ 10</span> Cada amigo convidado
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">+ XX</span> Comprando na nossa loja
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Como gastar diamante</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="label label-danger">- 01</span> Dar uma piscadinha
                        </li>
                        <li class="list-group-item">
                            <span class="label label-danger">- 01</span> Subir para o top 1 na sua cidade
                        </li>
                        <li class="list-group-item">
                            <span class="label label-danger">- 01</span> Trocar por 10 maças
                        </li>
                        <li class="list-group-item">
                            <span class="label label-danger">- 05</span> Aparecer nos destaques
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="widget style1" style="background-color: #dc3545; color: #fff!important;">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-apple-alt fa-4x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Maça </span>
                        <h2 class="font-bold" style="font-size: 23px;">@gamification?.Food/@GamificationApi.GetMaxFood(gamification)</h2>
                    </div>
                </div>
            </div>
            <div class="ibox" style="margin-bottom: 10px;">
                <div class="ibox-title">
                    <h5>Como ganhar Maças</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="A quantidade pode variar para cada nível"></i>
                            </span>
                            <span class="label label-primary">+ 20</span> A cada 24h na conta básica
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="A quantidade pode variar para cada nível"></i>
                            </span>
                            <span class="label label-primary">+ 20</span> A cada 12h na conta premium
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="Tem um limite de 3 por dia"></i>
                            </span>
                            <span class="label label-primary">+ 05</span> A cada anúncio visto
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Como gastar Maças</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="label label-danger">- 01</span> Dar like
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="widget style1 bg-info">
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-thumbs-up fa-4x"></i>
                    </div>
                    <div class="col-8 text-right">
                        <span> Popularidade </span>
                        <h2 class="font-bold" style="font-size: 23px;">75%</h2>
                    </div>
                </div>
            </div>
            <div class="ibox" style="margin-bottom: 10px;">
                <div class="ibox-title">
                    <h5>Como ganhar Popularidade</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary"><i class="fas fa-check"></i></span> Esteja sempre ativo, para não ter seu perfil desativado
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary"><i class="fas fa-check"></i></span> Crie um perfil legal e com fotos interessantes
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Como perder Popularidade</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: none;">
                    <ul class="list-group clear-list show">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                <i class="fas fa-info-circle" title="Ser bloqueado também irá influenciar negativamente neste índice"></i>
                            </span>
                            <span class="label label-danger">- 01</span> Ser bloqueado por alguém
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
<div class="row">
    <div class="col-sm-6">
        @*<div class="ibox">
                <div class="ibox-content">
                    <h3>Lista de Pendências</h3>
                    @if (OptionsValidation.HasCustomVisibility)
                    {
                        <CustomVisibility Options="OptionsValidation"></CustomVisibility>
                    }
                    else
                    {
                        <ul class="todo-list m-t small-list ui-sortable">
                            <li>
                                <input type="checkbox" @bind="@validation.ProfileData" />
                                <a href="/ProfileData" class="m-l-xs"> Cadastrar perfil </a><small class="badge badge-success">30xp</small>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@validation.ProfileCriteria" />
                                <a href="/ProfileSearchCriteria" class="m-l-xs"> Cadastrar critérios de busca </a><small class="badge badge-success">30xp</small>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@validation.PhotoFace" />
                                <a href="/PhotoValidation" class="m-l-xs"> Validar foto </a><small class="badge badge-success">30xp</small>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@validation.Email" />
                                <a href="#" class="m-l-xs"> Validar Email </a><small class="badge badge-success">30xp</small>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@validation.Phone" />
                                <a href="#" class="m-l-xs"> Validar Celular </a><small class="badge badge-success">30xp</small>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@validation.Facebook" />
                                <a href="#" class="m-l-xs"> Validar Facebook </a><small class="badge badge-success">30xp</small>
                            </li>
                            <li>
                                <input type="checkbox" @bind="@validation.Instagram" />
                                <a href="#" class="m-l-xs"> Validar Instagram </a><small class="badge badge-success">30xp</small>
                            </li>
                        </ul>
                    }
                </div>
            </div>*@
    </div>
    @*<div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Vantagens da Conta Premium</h3>
                    <ul class="list-group clear-list m-t show">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary"><i class="fas fa-check"></i></span> Ganhe diamantes diariamente e o dobro de maças
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary"><i class="fas fa-check"></i></span> Suba na lista uma vez por semana (assim irá aparecer para mais pessoas)
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@
</div>

@code
{
    private VerusDate.Shared.Model.Profile.ProfileGamification gamification = new();
    private List<ProfileSearch> lstDestaques = new();

    private VisibilityOptions OptionsValidation => new VisibilityOptions()
    {
        Loading = lstDestaques == null
    };

    protected override async Task LoadData()
    {
        lstDestaques = await Http.Public_ListDestaques();
    }
}