@page "/login-providers"

<h1>Login / Registro</h1>
<br />

<Row>
    <Column ColumnSize="ColumnSize.Is12.Is6.OnWidescreen">
        @foreach (var provider in providers)
        {
            <Button Block="true" Class="@("btn-" + @provider.Key)" Size="Size.Large" Margin="Margin.Is3.FromBottom" Type="ButtonType.Link" To="@("/.auth/login/" + @provider.Key)">
                <span class="fab fa-@provider.Key"></span> Logar com @provider.Value
            </Button>
        }
    </Column>
    <Column ColumnSize="ColumnSize.Is12.Is6.OnWidescreen">
        <Card>
            <CardHeader>
                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Bullhorn"></Icon> Nossas Premissas
            </CardHeader>
            <CardBody Padding="Padding.Is3">
                <Alert Color="Color.Info" Visible="true" Padding="Padding.Is3">
                    <Heading Size="HeadingSize.Is5" Color="TextColor.Success">
                        Perfis Verdadeiros
                    </Heading>
                    <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0.FromBottom">
                        Nós garantimos não existir perfis falsos ou inativos
                    </Paragraph>
                </Alert>
                <Alert Color="Color.Info" Visible="true" Padding="Padding.Is3">
                    <Heading Size="HeadingSize.Is5" Color="TextColor.Success">
                        Gamificação
                    </Heading>
                    <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0.FromBottom">
                        Todos os nossos recursos são baseados em elementos dos jogos para deixar tudo mais divertido
                    </Paragraph>
                </Alert>
                <Alert Color="Color.Info" Visible="true" Padding="Padding.Is3" Margin="Margin.Is0.FromBottom">
                    <Heading Size="HeadingSize.Is5" Color="TextColor.Success">
                        Livre de Preconceitos
                    </Heading>
                    <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0.FromBottom">
                        Independente da sua intenção, gênero, orientação sexual, raça, idade etc, nós temos um sistema de cruzamento de perfis completo e inteligente para você pode achar o que esteja procurando
                    </Paragraph>
                </Alert>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    public Dictionary<string, string> providers = new Dictionary<string, string>
{
        { "google", "Google" },
        { "twitter", "Twitter" },
        { "facebook", "Facebook" }
    };
}