@page "/ProfileView/{IdUserView:guid}"
@attribute [Authorize]
@inherits PageCore<ProfileView>
@inject HttpClient Http

@if (Options.HasCustomVisibility)
{
    <CustomVisibility Options="Options"></CustomVisibility>
}
else
{
    <div class="row">
        <div class="col-sm-3">
            <div class="contact-box" style="padding: 0px;">
                <div class="embed-responsive embed-responsive-1by1 divPhoto" style="background-color: black;">
                    <img alt="..." class="imgPhoto" src="@view.GetPhotoFace()" />
                    <span style="position: absolute; left: 10px; top: 10px;">
                        <i class="badge badge-secondary">@view.NickName, @view.BirthDate.GetAge(), @view.Distance.Value.GetDistance(ProfileHelper.DistanceType.Km)</i>
                    </span>
                    <div class="text-center" style="position: absolute; bottom: 10px; width: 100%;">
                        <BtnChat IdUserView="@IdUserView.ToString()" IdChat="@InteractionVM?.IdChat"></BtnChat>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <h5>Sobre mim</h5>
                    <p>@view.Description</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-content">
                    <ProfileBadge Type="@badge?.Rank"></ProfileBadge>
                    <ProfileBadge Type="@badge?.Seniority"></ProfileBadge>
                    <ProfileBadge Type="@badge?.CompletedProfile"></ProfileBadge>
                    <ProfileBadge Type="@badge?.VerifiedProfile"></ProfileBadge>
                    <ProfileBadge Type="@badge?.Popular"></ProfileBadge>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Básico</h4>

                    <ItemDataProfile For="@(() => view.BiologicalSex)" Value="@view.BiologicalSex" ClassIcon="fas fa-neuter" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.MaritalStatus)" Value="@view.MaritalStatus" ClassIcon="far fa-heart" Affinities="@affinities"></ItemDataProfile>
                    @*<ItemDataProfile For="@(() => view.Intent)" Value="@view.Intent" ClassIcon="fas fa-search" Affinities="@affinities"></ItemDataProfile>*@
                    <ItemDataProfile For="@(() => view.GenderIdentity)" Value="@view.GenderIdentity" ClassIcon="fas fa-neuter" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.SexualOrientation)" Value="@view.SexualOrientation" ClassIcon="fas fa-neuter" Affinities="@affinities"></ItemDataProfile>

                    <h4>Bio</h4>

                    <ItemDataProfile For="null" Value="@view.BirthDate.GetZodiac()" ClassIcon="fas fa-star-and-crescent" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Height)" Value="@view.Height" ClassIcon="fas fa-ruler" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.BodyMass)" Value="@view.BodyMass" ClassIcon="fas fa-weight" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.RaceCategory)" Value="@view.RaceCategory" ClassIcon="fas fa-globe" Affinities="@affinities"></ItemDataProfile>

                    <h4>Lifestyle</h4>

                    <ItemDataProfile For="@(() => view.HaveChildren)" Value="@view.HaveChildren" ClassIcon="fas fa-child" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.WantChildren)" Value="@view.WantChildren" ClassIcon="fas fa-baby" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Drink)" Value="@view.Drink" ClassIcon="fas fa-glass-cheers" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Smoke)" Value="@view.Smoke" ClassIcon="fas fa-smoking" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.EducationLevel)" Value="@view.EducationLevel" ClassIcon="fas fa-graduation-cap" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.CareerCluster)" Value="@view.CareerCluster" ClassIcon="fas fa-briefcase" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Religion)" Value="@view.Religion" ClassIcon="fas fa-praying-hands" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.MoneyPersonality)" Value="@view.MoneyPersonality" ClassIcon="fas fa-wallet" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.RelationshipPersonality)" Value="@view.RelationshipPersonality" ClassIcon="fas fa-people-arrows" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.MyersBriggsTypeIndicator)" Value="@view.MyersBriggsTypeIndicator" ClassIcon="fas fa-user" Affinities="@affinities"></ItemDataProfile>
                </div>
            </div>
        </div>
    </div>
    <ProfileReport></ProfileReport>
}

@code {

    [Parameter]
    public Guid IdUserView { get; set; }

    private VerusDate.Shared.Model.Profile view;
    private List<VerusDate.Shared.AffinityVM> affinities;
    private VerusDate.Shared.Model.Gamification gamification;
    private VerusDate.Shared.Model.Badge badge;
    private VerusDate.Shared.Model.Interaction InteractionVM;

    private VisibilityOptions Options => new VisibilityOptions()
    {
        Loading = view == null || affinities == null || gamification == null,
        Invalid = IdUserView.ToString() == ComponenteUtils.IdUser
    };

    protected override async Task LoadData()
    {
        view = await Http.Profile_GetView(IdUserView.ToString());

        if (view == null)
        {
            Toast.ShowError("Profile not found. Please, try again later.");
        }
        else
        {
            var looking = await Http.ProfileLooking_Get(LocalStorage);
            affinities = ProfileApi.GetAffinity(looking, view);
            gamification = await Http.Gamification_GetView(IdUserView.ToString());
            badge = await Http.Badge_GetView(IdUserView.ToString());
            InteractionVM = await Http.Interation_Get(IdUserView.ToString());
        }
    }

    private async Task Desike(string IdUserInteraction)
    {
        try
        {
            var result = await Http.Interation_Deslike(IdUserInteraction);
            await result.ProcessResponse(Toast);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Like(string IdUserInteraction)
    {
        try
        {
            var result = await Http.Interation_Like(LocalStorage, IdUserInteraction);
            await result.ProcessResponse(Toast);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Blink(string IdUserInteraction)
    {
        try
        {
            var result = await Http.Interation_Blink(LocalStorage, IdUserInteraction);
            await result.ProcessResponse(Toast);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private string GetClassAffinity(string field)
    {
        if (!affinities.Any(s => s.AttributeName == field)) return "badge badge-secondary";

        if (affinities.Single(s => s.AttributeName == field).HaveAffinity)
        {
            return "badge badge-success";
        }
        else
        {
            return "badge badge-danger";
        }
    }

    public double GetPercentAffinity()
    {
        double totCheck = affinities.Count(w => w.HaveAffinity);
        double totItens = affinities.Count;

        return Math.Round((totCheck / totItens) * 100, 0);
    }
}