@page "/Interaction/View/Chat/{IdUserView}"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.SignalR.Client
@implements IDisposable
@attribute [Authorize]
@inherits PageCore<Interaction.Chat>
@*@inject IAccessTokenProvider TokenProvider*@

<Row>
    <Column ColumnSize="ColumnSize.Is8.OnDesktop.Is6.OnWidescreen">
        <Card Margin="Margin.Is3.FromBottom">
            <CardHeader>Conversa com @view?.Basic.NickName</CardHeader>
            <CardBody Padding="Padding.Is0.FromBottom" Style="height: 265px; overflow: auto; display: flex; flex-direction: column-reverse;">

                @if (Options.HasCustomVisibility)
                {
                    <CustomVisibility Options="Options"></CustomVisibility>
                }
                else
                {
                    @foreach (var item in chat.Itens.OrderByDescending(o => o.DtMessage))
                    {
                        if (item.IdUserSender == ComponenteUtils.IdUser) //usuário logado como sender
                        {
                            <Row Padding="Padding.Is2.FromBottom.Is2.FromTop">
                                <Column ColumnSize="ColumnSize.Is9.Is1.WithOffset">
                                    <Alert Color="Color.Secondary" Visible="true" Padding="Padding.Is2" Margin="Margin.Is0.FromBottom">
                                        <Badge Float="Float.Left">Eu</Badge>
                                        <Badge Float="Float.Right"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Clock"></Icon> @item.DtMessage.GetElapsedTime()</Badge>
                                        <br />
                                        @if (item.TypeContent == TypeContent.Message)
                                        {
                                            <Paragraph Margin="Margin.Is0.FromBottom" Alignment="TextAlignment.Justified">
                                                @item.Content
                                            </Paragraph>
                                        }
                                        else
                                        {
                                            <span>item inválido</span>
                                        }
                                    </Alert>
                                </Column>
                                <Column ColumnSize="ColumnSize.Is2">
                                    <Figure Margin="Margin.Is0" Size="FigureSize.Is48x48" Float="Float.Right">
                                        <FigureImage Source="@user.GetMainPhoto()" Rounded="true" AlternateText="No User" />
                                    </Figure>
                                </Column>
                            </Row>
                        }
                        else
                        {
                            <Row Padding="Padding.Is2.FromBottom.Is2.FromTop">
                                <Column ColumnSize="ColumnSize.Is2">
                                    <Figure Margin="Margin.Is0" Size="FigureSize.Is48x48" Float="Float.Left">
                                        <FigureImage Source="@view.GetMainPhoto()" Rounded="true" AlternateText="No User" />
                                    </Figure>
                                </Column>
                                <Column ColumnSize="ColumnSize.Is9">
                                    <Alert Color="Color.Success" Visible="true" Padding="Padding.Is2" Margin="Margin.Is0.FromBottom">
                                        <Badge Float="Float.Left">@view.Basic.NickName</Badge>
                                        <Badge Float="Float.Right"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Clock"></Icon> @item.DtMessage.GetElapsedTime()</Badge>
                                        <br />
                                        @if (item.TypeContent == TypeContent.Message)
                                        {
                                            <Paragraph Margin="Margin.Is0.FromBottom" Alignment="TextAlignment.Justified">
                                                @item.Content
                                            </Paragraph>
                                        }
                                        else
                                        {
                                            <span>item inválido</span>
                                        }
                                    </Alert>
                                </Column>
                            </Row>
                        }
                    }
                }
            </CardBody>
            <CardBody Padding="Padding.Is0.FromBottom">
                <Addons>
                    <Addon AddonType="AddonType.Body">
                        <MemoEdit Rows="2" @bind-Text="Message" Placeholder="Para sua própria segurança, favor não incluir seu nome completo, endereço, celular, email ou quaisquer informações pessoais"></MemoEdit>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Color="Color.Primary" Clicked="SendPrivateMessage" Disabled="@BtnDisabled">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Share"></Icon>
                        </Button>
                    </Addon>
                </Addons>
            </CardBody>
            <CardBody>
                <Button Color="Color.Primary" Disabled="true" title="Enviar Áudio">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.MicrophoneAlt"></Icon>
                </Button>
                <Button Color="Color.Primary" Disabled="true" title="Enviar Imagem">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Images"></Icon>
                </Button>
                <Button Color="Color.Primary" Disabled="true" title="Enviar Celular">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.MobileAlt"></Icon>
                </Button>
                <Button Color="Color.Primary" Disabled="true" title="Enviar Facebook">
                    <Icon Name="@("fab fa-facebook")"></Icon>
                </Button>
                <Button Color="Color.Primary" Disabled="true" title="Enviar Instagram">
                    <Icon Name="@("fab fa-instagram")"></Icon>
                </Button>
                <Badge Color="Color.Danger" hidden="@(IsConnected)">Chat desconectado</Badge>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is2.OnDesktop.Is3.OnWidescreen">
        @if (OptionsProfile.HasCustomVisibility)
        {
            <CustomVisibility Options="OptionsProfile"></CustomVisibility>
        }
        else
        {
            <Card Margin="Margin.Is3.FromBottom">
                <CardImage Source="@view.GetMainPhoto()" Alt="@labelPhoto"></CardImage>
                <Tooltip Text="Perfil compatível com o que você procura" Multiline="true" Fade="true" Placement="Placement.Right" Style="position: absolute; top: 5px; left: 10px; cursor: help;">
                    <Badge Color="Color.Success">@(GetPercentAffinity() + "%")</Badge>
                </Tooltip>

                @if (view.ActivityStatus == VerusDate.Shared.Enum.ActivityStatus.Today)
                {
                    <Tooltip Text="logado recentemente" Multiline="true" Fade="true" Placement="Placement.Left" Style="position: absolute; top: 5px; right: 10px; cursor: help;">
                        <Badge Color="Color.Success">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Icon>
                        </Badge>
                    </Tooltip>
                }
                else if (view.ActivityStatus == VerusDate.Shared.Enum.ActivityStatus.Week)
                {
                    <Tooltip Text="logado essa semana" Multiline="true" Fade="true" Placement="Placement.Left" Style="position: absolute; top: 5px; right: 10px; cursor: help;">
                        <Badge Color="Color.Warning">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Icon>
                        </Badge>
                    </Tooltip>
                }
                else if (view.ActivityStatus == VerusDate.Shared.Enum.ActivityStatus.Month)
                {
                    <Tooltip Text="logado esse mês" Multiline="true" Fade="true" Placement="Placement.Left" Style="position: absolute; top: 5px; right: 10px; cursor: help;">
                        <Badge Color="Color.Danger">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Icon>
                        </Badge>
                    </Tooltip>
                }
                else
                {
                    <Tooltip Text="usuário desativado" Multiline="true" Fade="true" Placement="Placement.Left" Style="position: absolute; top: 5px; right: 10px; cursor: help;">
                        <Badge Color="Color.Dark">
                            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DotCircle"></Icon>
                        </Badge>
                    </Tooltip>
                }
                <CardBody>
                    <Badge Color="Color.Secondary">@view.Basic.NickName</Badge>
                    <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is0">
                        @view.Basic.Description
                    </Paragraph>
                </CardBody>
                <CardBody>
                    <Button Color="Color.Danger" title="Desfazer match">
                        <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Trash"></Icon> Match
                    </Button>
                    <Button Color="Color.Danger" title="Reportar este perfil" Float="Float.Right" data-toggle="modal" data-target="#modalReport">
                        <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ExclamationCircle"></Icon> Reportar
                    </Button>
                </CardBody>
            </Card>
        }
    </Column>
    <Column ColumnSize="ColumnSize.Is2.OnDesktop.Is3.OnWidescreen">
        @if (OptionsProfile.HasCustomVisibility)
        {
            <CustomVisibility Options="OptionsProfile"></CustomVisibility>
        }
        else
        {
            <Card Margin="Margin.Is3.FromBottom">
                <CardBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                            <ProfileBadge Type="@badge.Ranking"></ProfileBadge>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                            <ProfileBadge Type="@badge.Seniority"></ProfileBadge>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                            <ProfileBadge Type="@badge.VerifiedProfile"></ProfileBadge>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                            <ProfileBadge Type="@badge.Popular"></ProfileBadge>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
            <Card Margin="Margin.Is3.FromBottom">
                <CardBody>
                    <Divider DividerType="DividerType.TextContent" Text="Básico"></Divider>

                    <ItemDataProfile For="@(() => view.Distance)" StringValue="@ProfileHelper.GetDistanceExtension(view.Distance, ProfileHelper.DistanceType.Km)" ClassIcon="fas fa-map-marker-alt" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Basic.MaritalStatus)" Value="@view.Basic.MaritalStatus" ClassIcon="far fa-heart" Affinities="@affinities"></ItemDataProfile>
                    @*<ItemDataProfile For="@(() => view.Intent)" Value="@view.Intent" ClassIcon="fas fa-search" Affinities="@affinities"></ItemDataProfile>*@
                    <ItemDataProfile For="@(() => view.Basic.BiologicalSex)" Value="@view.Basic.BiologicalSex" ClassIcon="fas fa-neuter" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Basic.GenderIdentity)" Value="@view.Basic.GenderIdentity" ClassIcon="fas fa-neuter" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Basic.SexualOrientation)" Value="@view.Basic.SexualOrientation" ClassIcon="fas fa-neuter" Affinities="@affinities"></ItemDataProfile>

                    <Divider DividerType="DividerType.TextContent" Text="Bio"></Divider>

                    <ItemDataProfile For="@(() => view.Age)" StringValue="@ProfileHelper.GetAgeExtension(view.Age)" ClassIcon="fas fa-birthday-cake" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="null" Value="@view.Bio.BirthDate.GetZodiac()" ClassIcon="fas fa-star-and-crescent" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Bio.RaceCategory)" Value="@view.Bio.RaceCategory" ClassIcon="fas fa-globe" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Bio.Height)" Value="@view.Bio.Height" ClassIcon="fas fa-ruler" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Bio.BodyMass)" Value="@view.Bio.BodyMass" ClassIcon="fas fa-weight" Affinities="@affinities"></ItemDataProfile>

                    <Divider DividerType="DividerType.TextContent" Text="Lifestyle"></Divider>

                    <ItemDataProfile For="@(() => view.Lifestyle.Drink)" Value="@view.Lifestyle.Drink" ClassIcon="fas fa-glass-cheers" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.Smoke)" Value="@view.Lifestyle.Smoke" ClassIcon="fas fa-smoking" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.Diet)" Value="@view.Lifestyle.Diet" ClassIcon="fas fa-utensils" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.HaveChildren)" Value="@view.Lifestyle.HaveChildren" ClassIcon="fas fa-child" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.WantChildren)" Value="@view.Lifestyle.WantChildren" ClassIcon="fas fa-baby" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.EducationLevel)" Value="@view.Lifestyle.EducationLevel" ClassIcon="fas fa-graduation-cap" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.CareerCluster)" Value="@view.Lifestyle.CareerCluster" ClassIcon="fas fa-briefcase" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.Religion)" Value="@view.Lifestyle.Religion" ClassIcon="fas fa-praying-hands" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.MoneyPersonality)" Value="@view.Lifestyle.MoneyPersonality" ClassIcon="fas fa-wallet" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.RelationshipPersonality)" Value="@view.Lifestyle.RelationshipPersonality" ClassIcon="fas fa-people-arrows" Affinities="@affinities"></ItemDataProfile>
                    <ItemDataProfile For="@(() => view.Lifestyle.MyersBriggsTypeIndicator)" Value="@view.Lifestyle.MyersBriggsTypeIndicator" ClassIcon="fas fa-user" Affinities="@affinities"></ItemDataProfile>
                </CardBody>
            </Card>
        }
    </Column>
</Row>

@code
{
    [Parameter]
    public string IdUserView { get; set; }

    private ProfileModel user { get; set; }
    private ProfileView view { get; set; }
    private InteractionModel interaction { get; set; }
    private ChatModel chat { get; set; }
    private List<AffinityVM> affinities = new();
    private ProfileBadgeModel badge = new();

    [Required]
    [StringLength(100)]
    [Display(Name = "Message", Prompt = "Para sua própria segurança, favor não incluir seu nome completo, endereço, celular, email ou quaisquer informações pessoais")]
    private string Message { get; set; }

    private bool BtnDisabled { get { return string.IsNullOrEmpty(Message) || !IsConnected || user == null; } }

    private string labelPhoto => $"{view.Basic.NickName}, {view.Age}, {ProfileHelper.GetDistanceExtension(view.Distance, ProfileHelper.DistanceType.Km)}";

    private HubConnection hubConnection;
    //public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;
    public bool IsConnected => true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            //var tokenResult = await TokenProvider.RequestAccessToken();

            //if (tokenResult.TryGetToken(out var token))
            //{
            //    hubConnection = new HubConnectionBuilder()
            //    .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"), opt =>
            //    {
            //        opt.AccessTokenProvider = () => Task.FromResult(token.Value);
            //    })
            //    .WithAutomaticReconnect()
            //    .Build();

            //    hubConnection.On<string, string>("ReceivePrivateMessage", (user, message) =>
            //    {
            //        try
            //        {
            //            //if (user == CurrentUser.Id) //só recebe se quem mandou for o mesmo do chat
            //            //{
            //            //    ListChat.Add(new VerusDate.Shared.Model.Interaction.Chat() { IdChat = InteractionVM.IdChat, IdUserSender = user, TypeContent = TypeContent.Message, Content = message });
            //            //    StateHasChanged();
            //            //}
            //        }
            //        catch (Exception ex)
            //        {
            //            ex.ProcessException(Toast, Logger);
            //        }
            //    });

            //    await hubConnection.StartAsync();
            //}
            //else
            //{
            //    throw new InvalidOperationException(nameof(tokenResult));
            //}
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private VisibilityOptions Options => new VisibilityOptions()
    {
        Loading = IsLoading,
        NoData = chat == null || !chat.Itens.Any()
    };

    private VisibilityOptions OptionsProfile => new VisibilityOptions()
    {
        Loading = IsLoading
    };

    protected override async Task LoadData()
    {
        user = await Http.Profile_Get(SessionStorage);
        view = await Http.Profile_GetView(SessionStorage, IdUserView);

        if (view == null)
        {
            Toast.ShowError("Perfil não encontrado. Favor, tentar novamente.");
        }
        else
        {
            affinities = ProfileApi.GetAffinity(user, view);
            if (view?.Badge != null) badge = view.Badge;
            interaction = await Http.Interation_Get(SessionStorage, IdUserView);

            if (string.IsNullOrEmpty(interaction.IdChat))
            {
                await Http.Interation_GenerateChat(IdUserView, SessionStorage);
            }
            else
            {
                chat = await Http.Chat_Get(SessionStorage, IdUserView);
            }
        }
    }

    protected async Task SendPrivateMessage()
    {
        try
        {
            //await hubConnection.SendAsync("SendPrivateMessage", ComponenteUtils.IdUser, Message, CurrentUser.Id);

            var chatItem = new VerusDate.Shared.Model.ChatItem() { IdUserSender = ComponenteUtils.IdUser, TypeContent = TypeContent.Message, Content = Message };
            Message = "";

            chat.Itens.Add(chatItem);
            await Http.Chat_Insert(chatItem, IdUserView, SessionStorage); //TODO: encontrar maneira mais eficiente de salvar
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    public double GetPercentAffinity()
    {
        double totCheck = affinities.Count(w => w.HaveAffinity);
        double totItens = affinities.Count;

        return Math.Round((totCheck / totItens) * 100, 0);
    }

    public void Dispose()
    {
        _ = hubConnection?.DisposeAsync();
    }
}