@page "/Profile"
@attribute [Authorize]
@inherits PageCore<Profile.Index>

<Row Gutter="(8,0)">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is4.OnWidescreen">
        <Card Margin="Margin.Is2.FromBottom">
            <CardBody Padding="Padding.Is0">
                <Carousel @bind-SelectedSlide="selectedImage" Autoplay="false" ShowControls="imageDataUriGallery.Count() > 1" ShowIndicators="imageDataUriGallery.Count() > 1">
                    @foreach (var item in imageDataUriGallery)
                    {
                        <CarouselSlide @key="@item" Name="@item" Style="text-align: center; background-color: black;">
                            <Image Source="@item" Style="max-height: 450px !important;" />
                        </CarouselSlide>
                    }
                </Carousel>
            </CardBody>
            <CardBody>
                <Row Gutter="(8,0)">
                    <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                        <Button Color="Color.Primary" Outline="true" Block="true" Type="ButtonType.Link" To="/Profile/Data">
                            <Blazorise.Icon Name="FontAwesomeIcons.UserEdit"></Blazorise.Icon> Dados
                            @if (profile?.Basic == null)
                            {
                                <Blazorise.Icon Name="FontAwesomeIcons.ExclamationCircle" Style="color: #dc3545;"></Blazorise.Icon>
                            }
                        </Button>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                        <Button Color="Color.Primary" Outline="true" Block="true" Type="ButtonType.Link" To="/Profile/Preference">
                            <Blazorise.Icon Name="FontAwesomeIcons.Users"></Blazorise.Icon> Busca
                            @if (profile?.Preference == null)
                            {
                                <Blazorise.Icon Name="FontAwesomeIcons.ExclamationCircle" Style="color: #dc3545;"></Blazorise.Icon>
                            }
                        </Button>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                        <Button Color="Color.Primary" Outline="true" Block="true" Type="ButtonType.Link" To="/Profile/Gallery">
                            <Blazorise.Icon Name="FontAwesomeIcons.Images"></Blazorise.Icon> Fotos
                            @if (profile?.Photo == null)
                            {
                                <Blazorise.Icon Name="FontAwesomeIcons.ExclamationCircle" Style="color: #dc3545;"></Blazorise.Icon>
                            }
                        </Button>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6" Margin="Margin.Is2.FromBottom">
                        <Button Color="Color.Primary" Outline="true" Block="true" Type="ButtonType.Link" To="/Profile/Account">
                            <Blazorise.Icon Name="FontAwesomeIcons.UserCog"></Blazorise.Icon> Conta
                        </Button>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is8.OnWidescreen">
        <Card Margin="Margin.Is2.FromBottom">
            <CardHeader>@Resources.CardHeader.ProfileIndexAchievements</CardHeader>
            <CardBody>
                <Row Gutter="(8,0)">
                    <Column ColumnSize="ColumnSize.Is6.Is3.OnWidescreen.Is2.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <ProfileBadge Type="@badge.Ranking"></ProfileBadge>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.Is3.OnWidescreen.Is2.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <ProfileBadge Type="@badge.Seniority"></ProfileBadge>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.Is3.OnWidescreen.Is2.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <ProfileBadge Type="@badge.VerifiedProfile"></ProfileBadge>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.Is3.OnWidescreen.Is2.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <ProfileBadge Type="@badge.Popular"></ProfileBadge>
                    </Column>
                </Row>
            </CardBody>
        </Card>
        <Card Margin="Margin.Is2.FromBottom">
            <CardHeader>@Resources.CardHeader.ProfileIndexInteractions</CardHeader>
            <CardBody>
                <Row Gutter="(8,0)">
                    <Column ColumnSize="ColumnSize.Is6.OnWidescreen.Is4.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <Tooltip Text="ver caixa de mensagens" Multiline="true" Fade="true" Style="display: block;">
                            <Button Color="Color.Primary" Type="ButtonType.Link" Block="true" To="/Profile/Interactions" Disabled="true">
                                <Blazorise.Icon Name="FontAwesomeIcons.Comments"></Blazorise.Icon> Mensagens
                                <Badge Color="Color.Light">0</Badge>
                                <Badge Color="Color.Danger">0</Badge>
                            </Button>
                        </Tooltip>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.OnWidescreen.Is4.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <Tooltip Text="ver likes recebidos" Multiline="true" Fade="true" Style="display: block;">
                            <Button Color="Color.Primary" Type="ButtonType.Link" Block="true" To="/Profile/Interactions" Disabled="true">
                                <Blazorise.Icon Name="FontAwesomeIcons.ThumbsUp"></Blazorise.Icon> Likes
                                <Badge Color="Color.Light">0</Badge>
                            </Button>
                        </Tooltip>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.OnWidescreen.Is4.OnFullHD" Margin="Margin.Is2.FromBottom">
                        <Tooltip Text="ver piscadinhas recebidas" Multiline="true" Fade="true" Style="display: block;">
                            <Button Color="Color.Primary" Type="ButtonType.Link" Block="true" To="/Profile/Interactions" Disabled="true">
                                <Blazorise.Icon Name="FontAwesomeIcons.KissWinkHeart"></Blazorise.Icon> Piscadinhas
                                <Badge Color="Color.Light">0</Badge>
                            </Button>
                        </Tooltip>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Column>
</Row>

@code {

    private ProfileModel profile;
    private ProfileGamificationModel gamification;
    private ProfileBadgeModel badge = new();

    string selectedImage;
    string[] imageDataUriGallery = new string[] { };

    protected override async Task LoadData()
    {
        profile = await Http.Profile_Get(SessionStorage);

        if (profile != null)
        {
            imageDataUriGallery = new string[] { profile.GetMainPhoto() }.Concat(profile.GetGalleryPhotos()).ToArray();
        }
        else
        {
            imageDataUriGallery = new string[] { ImageHelper.GetNoUserPhoto };
        }

        selectedImage = imageDataUriGallery.FirstOrDefault();

        gamification = profile?.Gamification;
        if (profile?.Badge != null) badge = profile.Badge;
    }
}