@page "/ProfileData"
@attribute [Authorize]
@inherits PageCore<ProfileData>
@inject HttpClient Http
@*@using Microsoft.AspNetCore.Components*@
@using BrowserInterop.Extensions

@if (Options.HasCustomVisibility)
{
    <CustomVisibility Options="Options"></CustomVisibility>
}
else
{
    <EditForm Model="@profile" OnValidSubmit="HandleValidSubmit">
        <FluentValidationValidator />
        <Card>
            <CardHeader>
                Perfil
                <Button Size="Size.ExtraSmall" Color="Color.Danger" Float="Float.Right" Clicked="privacy.ShowModal" title="Termos de Privacidade">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.UserShield"></Icon>
                </Button>
            </CardHeader>
            <CardBody>
                <Divider DividerType="DividerType.TextContent" Text="Básico"></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        <CustomField Type="FieldType.TextEdit" For="@(() => profile.Basic.NickName)" @bind-Value="@profile.Basic.NickName"
                                     CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.User"></CustomField>
                        <CustomField Type="FieldType.MemoEdit" For="@(() => profile.Basic.Description)" @bind-Value="@profile.Basic.Description"
                                     CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.QuoteLeft" Rows="7"></CustomField>
                        <CustomField Type="FieldType.TextEditButtom" For="@(() => profile.Basic.Location)" @bind-Value="@profile.Basic.Location"
                                     CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.MapMarkerAlt" Disabled="true" 
                                     ButtomClicked="async ()=> { await SetLocation(profile); }" ButtomCssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.MapMarkedAlt" ButtomTitle="Recuperar posição GPS"></CustomField>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Basic.MaritalStatus)" TValue="MaritalStatus" TEnum="MaritalStatus" @bind-SelectedValue="@profile.Basic.MaritalStatus"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Heart"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.SelectMultiple" For="@(() => profile.Basic.Intent)" TValue="IReadOnlyList<Intent>" TEnum="Intent" @bind-SelectedValues="@profile.Basic.Intent"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Search"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Basic.BiologicalSex)" TValue="BiologicalSex" TEnum="BiologicalSex" @bind-SelectedValue="@profile.Basic.BiologicalSex"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Neuter"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Basic.GenderIdentity)" TValue="GenderIdentity" TEnum="GenderIdentity" @bind-SelectedValue="@profile.Basic.GenderIdentity"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Neuter"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Basic.SexualOrientation)" TValue="SexualOrientation" TEnum="SexualOrientation" @bind-SelectedValue="@profile.Basic.SexualOrientation"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Neuter"></CustomFieldSelect>
                    </Column>
                </Row>
                <Divider DividerType="DividerType.TextContent" Text="Bio"></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        <div class="form-group row">
                            <CustomLabel For="@(() => profile.Bio.BirthDate)" CssIcon="fas fa-birthday-cake" Comment="Confira a idade e signo"></CustomLabel>
                            <div class="col-sm-8">
                                <InputDate @bind-Value="@profile.Bio.BirthDate" @attributes='new Dictionary<string, object>() { { "class", "form-control" } }'></InputDate>
                                <ValidationMessage For="@(()=>profile.Bio.BirthDate)"></ValidationMessage>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 offset-sm-4">
                                <input class="form-control" value="@profile.Bio.BirthDate.GetAge() Anos" disabled />
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" value="@profile.Bio.BirthDate.GetZodiac().GetName()" disabled />
                            </div>
                        </div>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Bio.RaceCategory)" TValue="RaceCategory" TEnum="RaceCategory" @bind-SelectedValue="@profile.Bio.RaceCategory"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Globe"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Bio.Height)" TValue="Height" TEnum="Height" @bind-SelectedValue="@profile.Bio.Height"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Ruler" DisableHelp="true"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Bio.BodyMass)" TValue="BodyMass" TEnum="BodyMass" @bind-SelectedValue="@profile.Bio.BodyMass"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Weight" DisableHelp="true"></CustomFieldSelect>
                    </Column>
                </Row>
                <Divider DividerType="DividerType.TextContent" Text="Lifestyle"></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.Drink)" TValue="Drink?" TEnum="Drink" @bind-SelectedValue="@profile.Lifestyle.Drink"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.GlassCheers" Disabled="@profile.Basic.Intent.IsShortTerm(true)" DisableHelp="true"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.Smoke)" TValue="Smoke?" TEnum="Smoke" @bind-SelectedValue="@profile.Lifestyle.Smoke"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Smoking" Disabled="@profile.Basic.Intent.IsShortTerm(true)" DisableHelp="true"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.Diet)" TValue="Diet?" TEnum="Diet" @bind-SelectedValue="@profile.Lifestyle.Diet"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Utensils" Disabled="@profile.Basic.Intent.IsShortTerm(true)"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.HaveChildren)" TValue="HaveChildren?" TEnum="HaveChildren" @bind-SelectedValue="@profile.Lifestyle.HaveChildren"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Child" Disabled="@profile.Basic.Intent.IsShortTerm(true)" DisableHelp="true"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.WantChildren)" TValue="WantChildren?" TEnum="WantChildren" @bind-SelectedValue="@profile.Lifestyle.WantChildren"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Baby" Disabled="@profile.Basic.Intent.IsShortTerm(true)" DisableHelp="true"></CustomFieldSelect>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.EducationLevel)" TValue="EducationLevel?" TEnum="EducationLevel" @bind-SelectedValue="@profile.Lifestyle.EducationLevel"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.GraduationCap" Disabled="@profile.Basic.Intent.IsShortTerm(true)" DisableHelp="true"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.CareerCluster)" TValue="CareerCluster?" TEnum="CareerCluster" @bind-SelectedValue="@profile.Lifestyle.CareerCluster"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Briefcase" Disabled="@profile.Basic.Intent.IsShortTerm(true)"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.Religion)" TValue="Religion?" TEnum="Religion" @bind-SelectedValue="@profile.Lifestyle.Religion"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.PrayingHands" Disabled="@profile.Basic.Intent.IsShortTerm(true)"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.MoneyPersonality)" TValue="MoneyPersonality?" TEnum="MoneyPersonality" @bind-SelectedValue="@profile.Lifestyle.MoneyPersonality"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.Wallet" Disabled="@profile.Basic.Intent.IsShortTerm(true)"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.RelationshipPersonality)" TValue="RelationshipPersonality?" TEnum="RelationshipPersonality" @bind-SelectedValue="@profile.Lifestyle.RelationshipPersonality"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.PeopleArrows" Disabled="@profile.Basic.Intent.IsShortTerm(true)"></CustomFieldSelect>
                        <CustomFieldSelect Type="FieldType.Select" For="@(() => profile.Lifestyle.MyersBriggsTypeIndicator)" TValue="MyersBriggsTypeIndicator?" TEnum="MyersBriggsTypeIndicator" @bind-SelectedValue="@profile.Lifestyle.MyersBriggsTypeIndicator"
                                           CssIcon="@Blazorise.Icons.FontAwesome.FontAwesomeIcons.User" Disabled="@profile.Basic.Intent.IsShortTerm(true)" HelpLink="https://www.16personalities.com/br"></CustomFieldSelect>
                    </Column>
                </Row>
            </CardBody>
            <CardFooter>
                <Button Type="ButtonType.Submit" Color="Color.Primary" Disabled="@(profile.GetDataStatus() != DataStatus.New && profile.DaysUpdate() < 1)">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Save"></Icon> Salvar Dados
                </Button>
                <Badge Color="Color.Danger" Margin="Margin.Is3.FromLeft">
                    <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ExclamationTriangle"></Icon> Só poderá atualizar no máximo uma vez ao dia e perderá 100 XP a cada atualização
                </Badge>
            </CardFooter>
        </Card>
    </EditForm>

    <VerusDate.Web.Shared.modal.BasicModal @ref="privacy" Title="Termos de privacidade">
        <ul>
            <li>Pedimos que leia nosso '<a href="/Terms/pt" target="_blank">Termos de Uso</a>' para ficar ciente de como seus dados serão tratados;</li>
            <li>Seja honesto nas respostas dadas neste formulário. Todas as informações aqui contidas estão abertas a denúncias e poderão ser avaliadas;</li>
        </ul>
    </VerusDate.Web.Shared.modal.BasicModal>
}

@code {

    private ProfileModel profile = new();
    private GeoLocation GPS = new();
    protected bool IsShortTerm { get { return !profile.Basic.Intent.IsLongTerm(); } }
    private Shared.modal.BasicModal privacy;

    private void SetValues(IReadOnlyList<Intent> value)
    {
        profile.Basic.Intent = value.ToArray();
        //await SelectedValuesChanged.InvokeAsync(SelectedValue);
    }

    private VisibilityOptions Options => new VisibilityOptions()
    {
        Loading = IsLoading
    };

    protected override async Task LoadData()
    {
        profile = await Http.Profile_Get(LocalStorage);

        if (profile == null) //para novos usuários
        {
            profile = new();

            profile.Basic = new();
            profile.Bio = new();
            profile.Lifestyle = new();

            profile.Basic.GenderIdentity = GenderIdentity.Cisgender;
            profile.Basic.SexualOrientation = SexualOrientation.Heteressexual;
            profile.Bio.BirthDate = DateTime.Now.AddYears(-18);
            profile.Lifestyle.Diet = Diet.Omnivore;
        }
    }

    private async Task SetLocation(ProfileModel profile)
    {
        if (profile != null && profile.Basic != null && !profile.Basic.Longitude.HasValue)
        {
            var window = await JsRuntime.Window();
            var navigator = await window.Navigator();
            var position = await navigator.Geolocation.GetCurrentPosition();

            if (position.Error != null)
            {
                Toast.ShowWarning(position.Error.Message, "alerta");
            }
            else if (position.Location != null)
            {
                GPS.Latitude = position.Location.Coords.Latitude;
                GPS.Longitude = position.Location.Coords.Longitude;
                GPS.Accuracy = position.Location.Coords.Accuracy;

                //TODO: chamar código da api
                var here = await Http.Map_GetLocation(GPS.Latitude, GPS.Longitude);
                if (here.items.Any())
                {
                    var address = here.items[0].address;
                    profile.Basic.Location = address.GetLocation();
                }
                else
                {
                    profile.Basic.Location = "Localização Desconhecida";
                }

                profile.Basic.Longitude = GPS.Longitude;
                profile.Basic.Latitude = GPS.Latitude;

                if (GPS.Accuracy > 500)
                {
                    Toast.ShowWarning($"A posição do GPS foi recuperada, mas a precisão é de apenas: {Math.Round(GPS.Accuracy / 1000, 1)} km. Tente novamente mais tarde ou use um dispositivo mais preciso.", "alerta");
                }
            }
            else
            {
                Toast.ShowWarning($"Não foi possível detectar um sistema GPS no seu dispositivo. Favor, tentar novamente ou liberar acesso ao GPS do seu dispositivo.", "alerta");
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            HttpResponseMessage response;

            profile.ClearSimpleView();

            if (profile.GetDataStatus() == DataStatus.New)
            {
                response = await Http.Profile_Add(profile, LocalStorage);

                if (response.IsSuccessStatusCode)
                    Toast.ShowWarning("+30 XP");
            }
            else
            {
                response = await Http.Profile_Update(profile, LocalStorage);

                if (response.IsSuccessStatusCode)
                    Toast.ShowWarning("-100 XP");
            }

            if (response.IsSuccessStatusCode)
            {
                profile = await Http.Profile_Get(LocalStorage);
            }

            await response.ProcessResponse(Toast, "Salvo com sucesso!");

        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}